
  
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap');
.App {
  width : 100vw;
  font-size : 4vmin;
  height : 100vh;
}


a, a:hover {
  color : hsl(197, 74%, 57%);
}

html,body {
  overflow-x: hidden;
}

/* BOOTSTRAP CARDS */
.card-title {
  font-size : 1.4rem;
  /* text-transform : uppercase; */
  align-items : center;
  font-weight : 500;
}



.card-header {
  font-family : Roboto, "sans-serif";
  justify-content : center;
  font-weight : 700;
  max-height : 2.5em;
  flex-direction : column;
  /* border : none; */
  display : flex;
  flex-grow : 0 !important;
  /* background : hsl(0, 0%, 87%) ; */
  font-size : 1rem;
}

.chart-container {
  min-height : 30px;
}
.card-body {
  font-size : 1.3rem;
  font-weight : 300;
  word-wrap: break-word;
}
/* END BOOTSTRAP CARDS */


/* Nav Bar */


.main-nav {
  height : 4em;
  width : 100vw;
  display : flex; 
  flex-direction : row; 
  /* background : linear-gradient(40deg,hsl(0, 0%, 94%),hsl(0, 0%, 85%)); */
  background : linear-gradient(260deg,hsl(0, 0%, 96%),rgb(221, 220, 220));
  z-index : 100000000000000;
  position : fixed;
  justify-content : space-between;
  font-size : 1.5rem;
}

.main-nav div {
  display : flex;
  align-items : center;
  padding : 2vmin;
}

.main-nav .main-nav-link {
  color : rgb(82, 82, 82);
  font-weight : 700;
  text-transform: lowercase;
  /* font-size : 1.3rem; */
  font-family : Roboto;
}



.main-nav .nav-brand {
    font-weight : 800;
    font-family : Roboto;
    
}

.main-nav .main-nav-link:hover {
  text-decoration : none;
  color : black;
  transition-duration: 2000ms;
}

.main-nav + .content {
  height : 100vh;
  width : 100vw;
  padding-top : 15vh; 
}



/* END OF NAV BAR */

/* ARTICLE STATUS */
.result {
  display : flex;
  flex-direction: row;
  align-items: center;
  background : white;
  padding-left : 5vmin;
  padding-right : 1vmin;
}
.result-icon {
  width : 10vmin;
}

.result>p {
  font-size : 6vmin;
  
}

.result-label {
  font-size : 2rem;

  /* text-transform : uppercase; */
  font-weight: 500;
  font-family : Roboto;
}
.result-explanation {
  font-size : 1.3rem;
  font-weight : 300;
}

.statistics-panel {
  font-size : 2.5vmin;
}

/* END OF ARTICLE STATUS */

/* FRONT PAGE */
.app-frontpage-container {
  display : flex;
  align-items : center;
  flex-direction : column;
  padding-top : 10vmin;
}

.app-title {
  font-family : Roboto, "sans serif";
  font-weight : 900;
  font-size : 3.5rem;
  text-decoration : bold;
}

.app-description {
  font-weight : 300;
  font-size : 1.5rem;
  text-align :center;
}

.app-prompt {
  font-weight : 300;
  font-size : 2rem;
  text-decoration : bold;
}

.app-form-button {
  border : 2px solid rgb(175, 221, 240);
  color : rgb(41, 41, 41);
  padding : 0.2em 0.6em;
  transition-duration : 600ms;
  border-radius : 15%;
  font-weight : 300;
  font-size : 1.5rem;
  background : none;
  outline : 0;
}
.app-form-button:hover {
  box-shadow : 2px 2px 5px  rgb(152, 203, 224);
}
.dashboard-top-container {
  display : flex;
  /* background : whitesmoke; */
  flex-direction : column;  
  width : 100vw;
}

.dashboard-top-container div {
  flex-grow : 1
}
.dashboard-side-container {
  display : flex;
  flex-direction : column;
}
.dashboard-side-container>div, .dashboard-bottom-container>div {
  margin : 3vmin;
  border-radius : 0.3em;
  box-shadow: 0px 0px 0.05em grey;
  border : none;
}


.about-container {
  padding-left : 5vmin;
  padding-right : 5vmin;
  padding-top : 2vmin;

}
.about-title {
  font-family : Roboto;
  font-weight : 800;
  font-size : 5rem;
}

.about-description {
  font-family : Roboto;
  font-weight : 300;
  font-size : 1.3rem;
}
.about-mascot-container {
  display : flex;
  flex-direction: column;
  align-items: center;
}
.about-icon { 
  width : 50vw;
  max-width : 400px;
}


.app-submit-button {
  height : 2em;
  font-size : 1.3rem;
}

.app-input {
  font-size : 1.3rem;
  height : 2em;
}
/* END OF FRONT PAGE */


/* TEST SOURCES */

.test-sources-container {
  display : flex;
  flex-direction : column;
  padding : 5vmin;
  text-align : justify;
}

.test-sources-title {
  font-size : 2rem;
  font-weight : 400;
  margin-bottom : 1em;
}
.testable-source {
  margin-bottom : 1.5em;
  
}
/* END OF TEST SOURCES */


/* STANCE TABLE */
.stance-table {
  height : auto;
}


.stance-table-headline {
  font-size : 1rem;
}
.stance-row {
  margin-bottom : 2em;
  color : black;
  display : flex;
  width : 100%;
  flex-direction : row;
}

.right-side-banner {
  width : 80%;
  display: flex;
  flex-direction: column;
  padding-left : 2em;
}
.side-banner {
  flex-grow : 0 !important;
  width : 5px !important;
}
.agree>.side-banner {
  background-color : hsl(128,51%,59%);
}

.disagree>.side-banner {
  background-color :hsl(0, 71%, 61%);
}

.discuss>.side-banner {
  background-color : hsl(0, 10%, 65%);
}


.stance-badge {
  font-weight : 700;

}

.dashboard-container {
  display : flex;
  flex-direction : column;
}

.agree-badge  {
  color : hsl(128,51%,59%);
}
.disagree-badge {
  color : hsl(0, 71%, 61%);
}

.discuss-badge {
  color : hsl(0, 10%, 65%);
}

.link-btn {
  background : hsl(0, 0%, 83%);
}

.change-stance-text {
  margin-top : 0.3em;
  display: block;
}
.stance-publisher {
  font-size : 0.75em;
}

.stance-headline {
  font-size : 1.7rem;
}

.stance-classification {
  font-weight : 500;
}
.stance-changer {
  font-size : 1rem;
}

.stance-changer-button {
  margin-bottom : 0.5em;
}




.change-stance-btn.agree-btn:hover {
  background: hsl(128, 41%, 79%);
}
.change-stance-btn.disagree-btn:hover {
  background: hsl(0, 71%, 61%);
}
.change-stance-btn.discuss-btn:hover {
  background: hsl(0, 10%, 65%);
}

/* END OF STANCE TABLE */

.full-page {
  width : 100vw;
  height : 100vh;
}



/* START OF METRICS */

.metrics-display {
  display : flex;
  width : 100%;
  justify-content: space-between;
}

.metrics-display>div {
  text-align: center;
}

.metrics-percentage {
  font-size : 3rem;
}

.agree-metrics {
  color : hsl(128,51%,59%);
}

.disagree-metrics {
  color : hsl(0, 71%, 61%);
}

.discuss-metrics {
  color : hsl(0, 10%, 65%);
}